html {
  border: 0px'
  padding: 0px;
  margin: 0px;
  font: inherit;
}

ul li {
  list-style-type: upper-roman;
}

ol li {
  list-style-type: upper-roman;
}

body {
  line-height: 1.5;
}

header > img {
  width: 100%;
}

img {
 width: 100%;
}

